.tabla-educacion {
  margin: 15px;
  width: 98%;
}

#edu-text {
  padding-left: 20px;
  text-align: justify;
  padding-right: 140px;
}

h6 {
  width: 240px;
 }

.educ-card-body
 {
  padding: 15px;
  max-width: fit-content;
 }

 .fecha-txt {
  font-size: small;
 }
