.navbar-brand-right {
  float: left;
  height: 35px;
  width: 140px;
  margin-right: 10px;
}

#ig-logo {
  height: 35px;
}

#tw-logo {
  height: 35px;
  padding-top: 0.1rem;
}

#lnkdin-logo {
  height: 25px;
  padding-left: 0.2rem;
}

#git-logo {
  height: 24px;
  padding-left: 0.4rem;
}
