#skills-card {
  display: flex;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.7));
  margin: 30px;
}

.skill-card-title {
  font-size: 100%;
  text-align: center;
}

.skills-card-body {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
}

.pack-edicion-skills {
  display: flex;
  left: 43%;
  position: absolute;
}

.card-img-top {
  height: 170px;
  width: auto;
}

.circulo {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
